<?xml version="1.0"?>
<RemedySettings>
  <add key="RemedyServer" value="cssappdev.avp.ru" />
  <add key="RemedyPort" value="50111" />
  <add key="RemedyUser" value="ws_ca" />
  <add key="RemedyPassword" value="B~Yr&quot;)L{r9~4wFC" />
  <add key="UseCertificate" value="false" />
  <add key="CertificateSubjectName" value="NEWCACONFIGCERT" />
  <add key="RemedyPasswordHash" value="SHP1IX+m4omIxMIcvNdPAaO+I6CZcTyGFrSf+4tg5gfGH4yJwyh9UuKe7xJXGT9UdZ7yQf/2ozz6Jqgv++MIHF60JArOH4whzFqKrfWFunwUr360T7jSYl10bB+A4JXLBX/YRU86NMsl2fOLNUrlhz2bA9kXok+ZTnVExGEv6+O300Pj82uSBWSbzblgndfbveUTezZU5VdGe9jPGjFWq/jiqN/JIChLD+X/OdlwGQX/E0NWVhHCHM44Xnycq9+JbR9+rTDovkzSbSyFzEWqqrumWBUfDIJrTcoLHF+NiqpfVpB+SYxNFHiyMhIZdB512TCJ91Cv3jditK0fHYrxHg=="/>
</RemedySettings>
